@use  './shared';

$margin-top: 1.5rem;
$margin-bottom: 0rem;

body {
    background-color: shared.$color-main;
    font-family: shared.$font-family;
    font-size: 16px;
    // use 15% margins on sides for larger screens
    margin: $margin-top 15% $margin-bottom;
    color: shared.$color-text;
}

@media (max-width: 460px) {
    body {
        // use 3% margins on sides for smaller screens
        margin: $margin-top 3% $margin-bottom;
    }
}

h3 {
  font-weight: shared.$lighter-bold;
  font-size: 1.5rem;
}

p {
  font-weight: shared.$lighter-normal;
  margin: 0;
  line-height: 24px;
}

a {
  color: shared.$color-secondary;
  text-decoration: none;
}

a:hover {
  color: shared.$color-text
}

.content-wrapper {
    margin-top: 25%;
    text-align: center;
    
    // flex properties
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 950px) {
      margin-top: 15%;
    }
}

.custom-button {
  background-color: shared.$color-contrast;
  color: shared.$color-text;
  cursor: pointer; 
  padding: 0.5rem 1rem;
  border: 0px;
  border-radius: 5px;
  font-size: 18px;

  &:hover {
    background-color: shared.$color-contrast-muted;
  } 
}