// colors
$color-main: #959B85;
$color-secondary: #E7E2D2;
$color-contrast: #3F4636;
$color-contrast-muted: #4e5743;
$color-text: white;

// font weight
$lighter-bold: 500;
$lighter-normal: 300;

// font family
$font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica";