@use '../../../styles/wedding/shared.scss';

.landing-paragraph {
  margin-bottom: 1rem;
  max-width: 50%;

  // Mobile responsiveness
  @media (max-width: 600px) {
    max-width: 100%;
  }
}

.bolded-landing-paragraph {
  margin-bottom: 0rem;
  font-weight: shared.$lighter-bold;
}

.rsvp-button {
  margin-top: 1rem;
}