@use '../../../styles/wedding/shared';

button {
  background-color: shared.$color-secondary;
  color: shared.$color-main;
  cursor: pointer; 
  padding: 0.5rem 1rem;
  border: 0px;
  border-radius: 5px;
  font-size: 18px;

  &:hover {
    background-color: shared.$color-text;
    color: shared.$color-main;
  } 
}